src/main/resources/xml/xsd/city.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="countryType">
        <xs:sequence>
            <xs:element name="countryName" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="cityType">
        <xs:sequence>
            <xs:element name="cityName" type="xs:string"/>
            <xs:element name="country" type="countryType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>

    <xs:element name="city" type="cityType"/>

</xs:schema>