src/main/resources/xml/xsd/employee.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="employeeName" type="xs:string"/>
            <xs:element name="position" type="positionType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="positionType">
        <xs:sequence>
            <xs:element name="positionName" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>


    <xs:element name="employee" type="employeeType"/>

</xs:schema>