src/main/resources/xml/xsd/position.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

        <xs:complexType name="positionType">
            <xs:sequence>
                <xs:element name="positionName" type="xs:string"/>
                <xs:element name="salary" type="xs:double"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int"/>
        </xs:complexType>

    <xs:element name="position" type="positionType"/>

</xs:schema>